{% extends "base.html" %}
{% block style %}
<style>
    h2{
        margin-top: 5vh;
        color: white;
    }
    hr {
        border-color: white;
    }
    h4 {
        margin-top: 2vh;
        color: white;
    }
    .card-columns {
        margin-top: 2vh;
    }
    .card-columns > div {
        margin: 1vh;
        color: white;
    }
</style>
{% endblock %}
{% block head %}{% endblock %}
{% block main %}
<!--To make space on top-->
<div class="m-5 p-3"></div>
<!--Main Layout-->

<div class="container">
    <div>
        <div>
            <h2>Elective 1 Recommendation</h2>
            <div id="e1_reco" class="card-columns">

            </div>
        </div>
        <div>
            <h2>Elective 2 Recommendation</h2>
            <div id="e2_reco" class="card-columns">

            </div>
        </div>
    </div>


    <hr class="border-light">
    <!--Search Bar-->
    <div id="search" class="container mb-5">
        <div class="form-group mb-3 mt-5 mb-5">
            <input type="text" class="form-control" placeholder="Search">
            <button class="btn btn-success float-right" type="submit">Go</button>
        </div>
    </div>

    <div class="m-5 p-3"></div>

    <!--Elective List-->
    <div class="mt-5 container">
        <div id="full-list" class="text-white card-columns">

        </div>
    </div>
</div>

<div id="main-div" class="container-fluid">

    <div class="navbar fixed-bottom text-white">
        <p>Copyright © PES University, Bengaluru, India.</p>
    </div>
</div>

{% endblock %}
{% block script%}

<script>
    var cdata;

    $.ajax({
        url: '/getElectives',
        success: function (response) {
            cdata = JSON.parse(response);
            console.log(cdata);
            for (k = 0; k < cdata.length; k++) {
                var new_id = cdata[k]["c_name"].replace(" ", "-");

                var preq;

                if (cdata[k]["prerequisite"].length > 0)
                    preq = cdata[k]["prerequisite"][0];
                for (j = 1; j < cdata[k]["prerequisite"].length; j++)
                    preq = preq + ',' + cdata[k]["prerequisite"][j];

                $("#full-list").append('<div id="' + new_id +
                    '" class="card bg-primary"><div class="card-header text-center">' +
                    '<p class="card-text">' + cdata[k]["c_name"] +
                    '</p></div><div class="card-body bg-light text-center">' +
                    '<p class="card-text"><b>Subject Code: </b>' + cdata[k]["c_id"] + '</p>' +
                    '<p class="card-text"><b>Semester: </b>' + cdata[k]["sem"] + '</p>' +
                    '<p class="card-text"><b>Pool: </b>' + cdata[k]["pool"] + '</p>' +
                    '<p class="card-text"><b>Prerequisites: </b>' + preq + '</p></div></div>');
            }
        }
    });

    $.ajax({
        url: '/getRecommendation',
        success: function (response) {
            clist = JSON.parse(response);
            $("#e1_reco").html('');
            $("#e2_reco").html('');
            console.log(clist);
            var data = [];
            for (i = 0; i < clist.length; i++) {
                for (j = 0; j < cdata.length; j++) {
                    if (cdata[j]["c_id"] == clist[i]["c_id"]) {
                        data.push(cdata[j]);
                    }
                }
            }

            console.log(data);

            for (i = 0; i < 3; i++) {
                console.log(data[i]);
                var prerequisite;
                if (data[i]["prerequisite"].length > 0)
                    prerequisite = data[i]["prerequisite"][0];
                for (j = 1; j < data[i]["prerequisite"].length; j++)
                    prerequisite = prerequisite + ',' + data[i]["prerequisite"][j];
                console.log(prerequisite);
                $("#e1_reco").append('<div class="card bg-primary"><div class="card-header text-center">' +
                    '<p class="card-text">' + data[i]["c_name"] +
                    '</p></div><div class="card-body bg-light text-center">' +
                    '<p class="card-text"><b>Subject Code: </b>' + data[i]["c_id"] + '</p>' +
                    '<p class="card-text"><b>Prerequisites: </b>' + prerequisite + '</p></div></div>');
            }
            for (i = 3; i < 6; i++) {
                console.log(data[i]);
                var prerequisite;
                if (data[i]["prerequisite"].length > 0)
                    prerequisite = data[i]["prerequisite"][0];
                for (j = 1; j < data[i]["prerequisite"].length; j++)
                    prerequisite = prerequisite + ',' + data[i]["prerequisite"][j];
                console.log(prerequisite);
                $("#e2_reco").append('<div class="card bg-primary"><div class="card-header text-center">' +
                    '<p class="card-text">' + data[i]["c_name"] +
                    '</p></div><div class="card-body bg-light text-center">' +
                    '<p class="card-text"><b>Subject Code: </b>' + data[i]["c_id"] + '</p>' +
                    '<p class="card-text"><b>Prerequisites: </b>' + prerequisite + '</p></div></div>');
            }
        }
    });
</script>
{% endblock %}