{% extends "base.html" %}
{% block style %}
<style>
    h2{
        margin-top: 5vh;
        color: white;
    }
    hr {
        border-color: white;
    }
    h4 {
        margin-top: 2vh;
        color: white;
    }
    .card-columns {
        margin-top: 2vh;
    }
    .card-columns > div {
        margin: 1vh;
    }
    .card{
        outline: 3px solid darkblue;
    }
    .card-header{
        outline: 3px solid darkblue;
    }
    #circle {
        transform: translate(-50%,-50%);
        width: 150px;
        height: 150px;  
    }

    .loader {
        width: calc(100% - 0px);
        height: calc(100% - 0px);
        border: 8px solid #162534;
        border-top: 8px solid #09f;
        border-radius: 50%;
        animation: rotate 5s linear infinite;
    }

    @keyframes rotate {
    100% {transform: rotate(360deg);}
    } 
</style>
{% endblock %}
{% block head %}{% endblock %}
{% block main %}
<!--To make space on top-->
<div class="m-5 p-3"></div>
<!--Main Layout-->

<div class="container">
    <div>
        <div>
            <h2 id="el_1_recommend">Elective 1 Recommendation</h2>
            <div class="card-columns">
                <div class="card bg-primary">
                    <div class="card-header text-center">
                        <p class="card-text">Recommendation Score : <span id="r_percent"></span></p>
                    </div>
                    <div class="card-body bg-light text-center">
                        <p class="card-text">Subject Name : <span id="s_name"></span></p>
                        <p class="card-text">Subject Code : <span id="s_id"></span></p>
                        <p class="card-text">Teacher : <span id="s_teacher"></span></p>
                        <p></p>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">SEE
                            MORE </button>
                    </div>
                    <div class="card-footer text-center">
                    </div>
                </div>
                <div class="card bg-primary">
                    <div class="card-header text-center">
                        <p class="card-text">Recommendation Score : <span id="r_percent"></span></p>
                    </div>
                    <div class="card-body bg-light text-center">
                        <p class="card-text">Subject Namw : <span id="s_name"></span></p>
                        <p class="card-text">Subject Code : <span id="s_id"></span></p>
                        <p class="card-text">Teacher : <span id="s_teacher"></span></p>
                        <p></p>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">SEE
                            MORE </button>
                    </div>
                    <div class="card-footer text-center">
                    </div>
                </div>
                <div class="card bg-primary">
                    <div class="card-header text-center">
                        <p class="card-text">Recommendation Score : <span id="r_percent"></span></p>
                    </div>
                    <div class="card-body bg-light text-center">
                        <p class="card-text">Subject Namw : <span id="s_name"></span></p>
                        <p class="card-text">Subject Code : <span id="s_id"></span></p>
                        <p class="card-text">Teacher : <span id="s_teacher"></span></p>
                        <p></p>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">SEE
                            MORE </button>
                    </div>
                    <div class="card-footer text-center">
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h2 id="el_2_recommend">Elective 2 Recommendation</h2>
            <div class="card-columns">
                <div class="card bg-danger">
                    <div class="card-header text-center">
                        <p class="card-text">Recommendation Score : <span id="r_percent"></span></p>
                    </div>
                    <div class="card-body bg-light text-center">
                        <p class="card-text">Subject Namw : <span id="s_name"></span></p>
                        <p class="card-text">Subject Code : <span id="s_id"></span></p>
                        <p class="card-text">Teacher : <span id="s_teacher"></span></p>
                        <p></p>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">SEE
                            MORE </button>
                    </div>
                    <div class="card-footer text-center">
                    </div>
                </div>
                <div class="card bg-danger">
                    <div class="card-header text-center">
                        <p class="card-text">Recommendation Score : <span id="r_percent"></span></p>
                    </div>
                    <div class="card-body bg-light text-center">
                        <p class="card-text">Subject Namw : <span id="s_name"></span></p>
                        <p class="card-text">Subject Code : <span id="s_id"></span></p>
                        <p class="card-text">Teacher : <span id="s_teacher"></span></p>
                        <p></p>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">SEE
                            MORE </button>
                    </div>
                    <div class="card-footer text-center">
                    </div>
                </div>
                <div class="card bg-danger">
                    <div class="card-header text-center">
                        <p class="card-text">Recommendation Score : <span id="r_percent"></span></p>
                    </div>
                    <div class="card-body bg-light text-center">
                        <p class="card-text">Subject Namw : <span id="s_name"></span></p>
                        <p class="card-text">Subject Code : <span id="s_id"></span></p>
                        <p class="card-text">Teacher : <span id="s_teacher"></span></p>
                        <p></p>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">SEE
                            MORE </button>
                    </div>
                    <div class="card-footer text-center">
                    </div>

                </div>
            </div>
        </div>
    </div>


    <hr class="border-light">
    <!--Search Bar-->
    <div id="search">
        <div class="form-group mb-3 mt-5">
            <input type="text" class="form-control" placeholder="Search">
            <button class="btn btn-success float-right" type="submit">Go</button>
        </div>
    </div>

    <!--Elective List-->
    <div>
        <div id="sem5" class="mt-5 text-white">
            <h2>Semester 5</h2>
            <hr class="border-light">
            <h4 class="text-light">Pool 1</h4>
            <div class="card-columns">
                <div class="card bg-primary">
                    <div class="card-body text-center">
                        <h4>Advanced Algorithm</h4>
                        <p>Pre-requisite: Algorithms</p>
                        <p></p>
                        <p class="card-text">Some text inside the first card</p>
                    </div>
                </div>
                <div class="card bg-warning">
                    <div class="card-body text-center">
                        <p class="card-text">Some text inside the second card</p>
                    </div>
                </div>
                <div class="card bg-success">
                    <div class="card-body text-center">
                        <p class="card-text">Some text inside the third card</p>
                    </div>
                </div>
                <div class="card bg-danger">
                    <div class="card-body text-center">
                        <p class="card-text">Some text inside the fourth card</p>
                    </div>
                </div>
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <p class="card-text">Some text inside the fifth card</p>
                    </div>
                </div>
                <div class="card bg-info">
                    <div class="card-body text-center">
                        <p class="card-text">Some text inside the sixth card</p>
                    </div>
                </div>
            </div>
            <h4 class="text-light">Pool 2</h4>
            <div class="card-columns">
                <div class="card bg-primary">
                    <div class="card-body text-center">
                        <p class="card-text">Some text inside the first card</p>
                    </div>
                </div>
                <div class="card bg-warning">
                    <div class="card-body text-center">
                        <p class="card-text">Some text inside the second card</p>
                    </div>
                </div>
                <div class="card bg-success">
                    <div class="card-body text-center">
                        <p class="card-text">Some text inside the third card</p>
                    </div>
                </div>
                <div class="card bg-danger">
                    <div class="card-body text-center">
                        <p class="card-text">Some text inside the fourth card</p>
                    </div>
                </div>
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <p class="card-text">Some text inside the fifth card</p>
                    </div>
                </div>
                <div class="card bg-info">
                    <div class="card-body text-center">
                        <p class="card-text">Some text inside the sixth card</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="main-div" class="container-fluid">

    <div class="navbar fixed-bottom text-white">
        <p>Copyright © PES University, Bengaluru, India.</p>
    </div>
</div>

{% endblock %}
