@font-face {
    font-family: 'Roboto';
    src: url('../font/roboto/Roboto-Bold.eot');
}

/* use the font */
body {
    font-family: 'Roboto', sans-serif;
}

#main-div {
    background-image: url('../img/ml_background.png');
    background-size: cover; -ms-background-size: cover; -o-background-size: cover; -moz-background-size: cover; -webkit-background-size: cover;
    height: 100vh;
    width: 100vw;
}

#p-pic {
    background:rgb(19, 24, 30);
}

#profile-menu > ul > li{
    height: 10vh;
    align-items: center;
    font-size: 3vh;
}

.p-body {
    background: rgba(255, 255, 255, 0.8);
}