<!DOCTYPE html>
<html lang="en">

<head>
    <title>PES ER</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/umd/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <style>
        /* Make the image fully responsive */
        .carousel-inner img {
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<body class="bg-dark">
        <nav class="navbar justify-content-center navbar-expand-sm bg-light navbar-light fixed-top">
                <img src="https://pesuacademy.com/Academy/images/pesuimages/logoPesu.png" alt="PES University">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                </ul>
              </nav>
    <div id="main-div" class="container-fluid">
        <div class="container h-100 big-white-30">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-md-8">
                    <h1 class="text-white font-weight-bold">PES Elective Registration</h1>
                    <blockquote class="blockquote text-white">
                        <p class="font-italic">Each man is capable of doing one thing well. If he attempts several, he will fail to achieve
                            distinction in any.</p>
                        <footer class="blockquote-footer ">Plato</footer>
                    </blockquote>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <form action="/action_page.php">
                                <div class="form-group">
                                    <label for="email">Email:</label>
                                    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                                </div>
                                <div class="form-group">
                                    <label for="pwd">Password:</label>
                                    <input type="password" class="form-control" id="pwd" placeholder="Enter password"
                                        name="pswd">
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" name="remember"> Remember me
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <a href="#">Forgot Password?</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="navbar fixed-bottom text-white">
                <p>Copyright © PES University, Bengaluru, India.</p>
            </div>
        </div>
    </div>


</body>

</html>