<!DOCTYPE html>
<html lang="en">

<head>
    <title>PES ER</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/umd/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <style>
        /* Make the image fully responsive */
        .carousel-inner img {
            width: 100%;
            height: 100%;
        }
    </style>
    <nav class="navbar justify-content-center navbar-expand-sm bg-light navbar-light fixed-top">
        <img src="https://pesuacademy.com/Academy/images/pesuimages/logoPesu.png" alt="PES University">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
    </nav>
</head>

<body class="bg-dark">


    <div id="main-div" class="container-fluid">
        <div class="row h-100 justify-content-center align-items-center">


            <!--Profile Picture with Menu-->
            <div id="profile" class="col-md-2 h-100 p-0 bg-dark">
                <div id="p-pic" class="card w-100 p-5">
                    <img class="card-img-top rounded-circle mt-5" src="https://openclipart.org/download/216165/fb_stormshadow.svg"
                        alt="Card image" style="width:100%">
                    <div class="card-body mx-auto">
                        <h4 class="card-text text-light font-weight-bold font-">John Doe</h4>
                    </div>
                </div>

                <div id="profile-menu">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-dark text-white">Courses</li>
                        <li class="list-group-item bg-light">Student Info</li>
                        <li class="list-group-item bg-dark text-white">Settings</li>
                        <li class="list-group-item bg-light">Logout</li>
                    </ul>
                </div>
            </div>


            <!--Courses-->
            <div class="col-md-10 h-100 p-3">
                <div id="course" class="p-body card mt-5">
                    <div class="card-body mt-3">
                        <h3>Semester 7</h3>
                        <hr>
                        <table class="table table-dark table-striped">
                            <thead>
                                <tr>
                                    <th>Course</th>
                                    <th>Type</th>
                                    <th>Credits</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Object Oriented Modelling and Design</td>
                                    <td>Core</td>
                                    <td>4.0</td>
                                </tr>
                                <tr>
                                    <td>Software Engineering</td>
                                    <td>Core</td>
                                    <td>4.0</td>
                                </tr>
                                <tr>
                                    <td>Web Technology II</td>
                                    <td>Core</td>
                                    <td>4.0</td>
                                </tr>
                            </tbody>
                        </table>
                        <h2 class="mt-5">Elective</h2>
                        <button class="btn btn-dark" type="submit">Select Elective</button>
                        <hr>
                        <table class="table table-dark table-striped">
                            <thead>
                                <tr>
                                    <th>Course</th>
                                    <th>Type</th>
                                    <th>Credits</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Blockchain by BoardWalk</td>
                                    <td>Elective</td>
                                    <td>4.0</td>
                                </tr>
                                <tr>
                                    <td>Social Networking Analysis</td>
                                    <td>Elective</td>
                                    <td>4.0</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!--Student Info-->
                <div id="stu-info" class="card mt-5 p-body">
                    <div class="card-body mt-3">
                        <h3>Basic Info</h3>
                        <hr>
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td>Name</td>
                                    <td>Kaveri Subramaniam</td>
                                </tr>
                                <tr>
                                    <td>USN</td>
                                    <td>01FB15ECS146</td>
                                </tr>
                            </tbody>
                        </table>
                        <h3>Contact Info</h3>
                        <hr>
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td>Email</td>
                                    <td>kaveri.subra@gmail.com</td>
                                </tr>
                                <tr>
                                    <td>Mobile Number</td>
                                    <td>9483869437</td>
                                </tr>
                                <tr>
                                    <td>Address</td>
                                    <td>B1007, Komarla Brigade Residency, Uttarahalli Main Road, Bengaluru-560061</td>
                                </tr>
                            </tbody>
                        </table>
                        <h3>Academic Info</h3>
                        <hr>
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td>Year of Join</td>
                                    <td>2015</td>
                                </tr>
                                <tr>
                                    <td>Semester</td>
                                    <td>7th</td>
                                </tr>
                                <tr>
                                    <td>SGPA</td>
                                    <td>8.90</td>
                                </tr>
                                <tr>
                                    <td>CGPA</td>
                                    <td>8.57</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


                <!--Settings-->
                <div id="settings" class="card mt-5 p-body">
                    <div class="card-body mt-3">
                        <h3>Change Contact Info</h3>
                        <hr>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-dark text-white">Email Id</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Type new Email ID here">
                            <div class="input-group-append">
                                <button class="btn btn-dark" type="submit">Change</button>
                            </div>
                        </div>
                        <br>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-dark text-white">Mobile No.</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Type new Mobile Number here">
                            <div class="input-group-append">
                                <button class="btn btn-dark" type="submit">Change</button>
                            </div>
                        </div>
                        <br>
                        <h3>Change Password</h3>
                        <hr>
                        <form action="/action_page.php">
                            <div class="form-group">
                                <label for="o-pass">Old Password</label>
                                <input type="o-pass" class="form-control" id="o-pass">
                            </div>
                            <div class="form-group">
                                <label for="pwd">New Password:</label>
                                <input type="password" class="form-control" id="pwd">
                            </div>
                            <button type="submit" class="btn btn-dark">Submit</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>

        <div class="navbar fixed-bottom text-white">
            <p>Copyright © PES University, Bengaluru, India.</p>
        </div>
    </div>


</body>

</html>